/Shop Manager/build/
/Shop Manager/nbproject/private/
/Shop Manager/dist/
/01FormNews/nbproject/private/
/01FormNews/build/
/01FormSearch/nbproject/private/
/01FormSearch/build/
/01FormLogin/nbproject/private/
/01FormLogin/build/
/02FormNews/nbproject/private/
/02FormNews/build/
/02FormLogin/nbproject/private/
/02FormLogin/build/
/SWINGD5/nbproject/private/
/SWINGD5/build/
/02FormNews/dist/
/01FormInformation/nbproject/private/
/01FormInformation/build/
/01ProgramTestQuit/nbproject/private/
/01ProgramTestQuit/build/